postgresql:
  enabled: true

ingress:
  enabled: true
  host: backstage.127.0.0.1.nip.io
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
  tls:
    enabled: true
    secretName: backstage-tls

# https://artifacthub.io/packages/helm/backstage/backstage
serviceAccount:
  create: true
  name: backstage

backstage:
  image:
    # registry: ghcr.io
    repository: craigedmunds/backstage
    tag: '0.2'
    pullSecrets:
      - ghcr-creds
  extraEnvVars:
    - name: BACKSTAGE_AUTH_LEGACY_GUEST
      value: "true"
    - name: BACKEND_SECRET
      value: dev-backstage-key
  extraEnvVarsSecrets:
    - backstage-github-auth
  extraVolumes:
    - name: backstage-users
      configMap:
        name: backstage-users
    - name: catalog-components
      projected:
        sources:
        - configMap:
