
---
apiVersion: camel.apache.org/v1
kind: Integration
metadata:
  name: my-plain-quarkus-it
  namespace: camel-k
spec:
  flows:
  - from:
      parameters:
        period: "1000"
      steps:
      - setBody:
          simple: Hello Camel from ${routeId}
      - log: ${body}
      uri: timer:yaml
  traits:
    camel:
      runtimeProvider: plain-quarkus

---
apiVersion: camel.apache.org/v1
kind: Integration
metadata:
  name: my-http-quarkus-it
  namespace: camel-k
spec:
  flows:

  - from:
      uri: "rest:get:/api/greeting/{name}"
      steps:
        - setHeader:
            constant: application/json
            name: Content-Type
        - setBody:
            simple: '{"greeting": "Hello ${header.name}!"}'
        - to: 'log:info'
  traits:
    camel:
      runtimeProvider: plain-quarkus

---
# apiVersion: camel.apache.org/v1
# kind: Integration
# metadata:
#   name: my-integration
#   namespace: sample-camel-k-integration
# spec:
#   sources:
#   - content: |
#       import org.apache.camel.builder.RouteBuilder;

#       public class Test extends RouteBuilder {
#           @Override
#           public void configure() throws Exception {
#               from("timer:java?period=1000")
#                   .setBody()
#                       .simple("Hello Camel from ${routeId}")
#                   .log("${body}");
#           }
#       }
#     name: Test.java
#   traits:
#     camel:
#       runtimeProvider: plain-quarkus