# # kustomize/_common/components/argocd-branch-targetrevision/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

generatorOptions:
  disableNameSuffixHash: true

replacements:
  - source:
      kind: ConfigMap
      name: argocd-branch-targetrevision
      fieldPath: data.targetRevision
    targets:
      - select:
          kind: Application
          labelSelector: "repo=argocd-eda,branch-strategy notin (multisource)"
        fieldPaths:
          - spec.source.targetRevision
      - select:
          kind: Application
          labelSelector: "repo=argocd-eda,branch-strategy in (multisource)"
        fieldPaths:
          - spec.sources.*.targetRevision
      - select:
          kind: ApplicationSet
          labelSelector: "repo=argocd-eda,branch-strategy notin (multisource)"
        fieldPaths:
          - spec.generators.0.git.revision
          - spec.template.spec.source.targetRevision
      - select:
          kind: ApplicationSet
          labelSelector: "repo=argocd-eda,branch-strategy in (multisource)" #
        fieldPaths:
          - spec.generators.*.git.revision
          - spec.template.spec.sources.*.targetRevision
