# Camel K Integration YAML (rendered by Helm)
{{- $lob := .Values.lob }}
{{- $service := .Values.name }}
{{- range $k, $v := .Values.channels }}
{{- $event := lower $k }}

- route:
    from:
      uri: "kafka:{{ $v.bindings.kafka.topic }}?brokers=kafka.confluent.svc.cluster.local:9092"
      steps:
      - log: ${body}
      - to:
          uri: "kamelet:spring-rabbitmq-sink"
          parameters:
            host: "camel-k-mesh.camel-k-mesh.svc.cluster.local"
            port: 5672
            exchangeName: "ex.{{$lob}}.{{$service}}.{{ $event }}"
            username: "{{`{{secret:camel-k-mesh-rabbit-user/username}}`}}"
            password: "{{`{{secret:camel-k-mesh-rabbit-user/password}}`}}"
{{- end }}
            
