apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ../../rabbitmq

configMapGenerator:
  - name: argocd-branch-targetrevision
    behavior: add
    literals:
      - targetRevision=feature/branch-based

generatorOptions:
  disableNameSuffixHash: true

components:
  - ../../../_common/components/argocd-branch-targetrevision
