apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ../../rabbitmq

configMapGenerator:
  - name: argocd-branch-targetrevision
    behavior: add
    literals:
      - targetRevision=HEAD

patches:
  - target:
      group: argoproj.io
      version: v1alpha1
      kind: ApplicationSet
      name: camel-k-mesh-lob-applications
    path: patch-feature-branch.yaml

generatorOptions:
  disableNameSuffixHash: true

components:
  - ../../../_common/components/argocd-branch-targetrevision
