apiVersion: v1
kind: Service
metadata:
  name: http-ingress
  namespace: camel-k-mesh-http-ingress
  labels:
    app: http-ingress
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      name: http
  selector:
    app: http-ingress
