fullnameOverride: http-service

ingress:
  enabled: enabled
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - host: my-simple-http-service.127.0.0.1.nip.io
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: http-service
              port:
                name: http-service

args:
  - --verbose
  - --port=9021
  - --max-request-journal=1000
  - --local-response-templating
  - --root-dir=/home/wiremock/storage

mappings:
 custom_mapping.json: |
   {
     "request": {
       "method": "POST",
       "url": "/v1/notifications"
     },
     "response":{
       "status":200,
       "body": "{{request.body}}",
       "transformers": ["response-template"],
       "headers":{
         "Content-Type":"application/json"
       }
     }
   }