apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base
  - argocd-projects.yaml

patches:
 - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: eda-bootstrap
   path: patch-argocd-eda-bootstrap.yaml
 - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: camel-k-mesh
   path: patch-camel-k-mesh-app.yaml

generatorOptions:
  disableNameSuffixHash: true