apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: camel-k-operator
  namespace: camel-k-mesh-demo
rules:
  - apiGroups: ["camel.apache.org"]
    resources:
      - "*"
    verbs:
      - "*"

  - apiGroups: ["*"]
    resources:
      - "*"
    verbs:
      - "list"
      - "watch"
      - "get"

  - apiGroups: [""]
    resources:
      - pods
      - configmaps
      - secrets
      - services
      - events
    verbs:
      - "*"

  - apiGroups: ["apps"]
    resources:
      - deployments
      - replicasets
    verbs:
      - "*"

  - apiGroups: ["networking.k8s.io"]
    resources:
      - ingresses
    verbs:
      - "*"