apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: confluent

resources:
  
  # TODO : switch to the upstream image and kustomize the connect image instead
  # - https://raw.githubusercontent.com/confluentinc/confluent-kubernetes-examples/refs/heads/master/quickstart-deploy/kraft-quickstart/confluent-platform-c3%2B%2B.yaml
  
  # Use the git repo path (note the double slash) and URL-encode the ++
  # - https://github.com/craigedmunds/confluent-kubernetes-examples//quickstart-deploy/kraft-quickstart/confluent-platform-c3%2B%2B?ref=feature/restructure-kraft-quickstart
  # - https://raw.githubusercontent.com/craigedmunds/confluent-kubernetes-examples/refs/heads/feature/restructure-kraft-quickstart/quickstart-deploy/kraft-quickstart/confluent-platform-c3%2B%2B/confluent-platform-c3%2B%2B.yaml
  - cfk.yaml
  - ingress.yaml

