apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base
  - argocd-projects.yaml

components:
  - ../../../../kustomize/_common/components/argocd-branch-targetrevision

configMapGenerator:
  - name: argocd-branch-targetrevision
    behavior: add
    literals:
      - targetRevision=main

patches:
 - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: eda-bootstrap
   path: patch-argocd-eda-bootstrap.yaml

generatorOptions:
  disableNameSuffixHash: true