apiVersion: apps/v1
kind: Deployment
metadata:
  name: camel-k-operator
  namespace: camel-k-mesh
spec:
  template:
    spec:
      containers:
        - name: camel-k-operator
          env:
            # todo : drive this from configuration
            - name: WATCH_NAMESPACE
              value: "camel-k-mesh,camel-k-mesh-demo"
